extends layout

block content
  h1= title
  - let image_names = ["van1.jpg", "van2.jpg", "van3.jpg", "van4.jpg", "van5.jpg"]
  - for(var i =0; i<3; i++){
    - var ran = Math.floor(Math.random()*5);
    img(src=`/images/${image_names[ran]}` alt=`Image No ${ran}` height="300px" width="300px")
  - }